<a href="/">Home</a>
<% if (!currentUser){  %>
	<a href="/login">Login</a>
	<a href="/register">SignUp</a>
<%}else{  %>
<a href="#">Logged in as, <%=currentUser.username%></a>
	<a href="/logout">Logout</a>
<%} %>

