<!DOCTYPE html>
<html>
<head>
	<title>YelpCamp</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
<div class="container">
<nav class="navbar navbar-light">
<a href="/" class="navbar-brand">YelpCamp</a>
<% if (!currentUser){  %>
	<a href="/login" class="navbar-nav ml-md-auto float-right">Login</a>
	<a href="/register" class="navbar-nav ml-md-auto">SignUp</a>
<%}else{  %>
<a href="#" class="navbar-nav float-right">Logged in as, <%=currentUser.username%></a>
	<a href="/logout" class="navbar-nav">Logout</a>
<%} %>
</div>
</nav>