<% include partials/header %>
<div class="container">
<header class="jumbotron jumbotron-fluid text-center">
<h1>Welcome to yelpCamp</h1>
<p class="lead">World's home page for CampGrounds!</p>
<a href="/camps" class="btn btn-primary" role="button">Click here to view our campgrounds</a>
<a href="/camps/new" class="btn btn-success">Click here to add new Camp ground</a>
</div>
</header>
