<% include partials/header %>
<div class="container text-center">
<h1>This is the login page of YelpCamp</h1>
</div>
<div class="container text-center">
<form action="/login" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="text" name="password" placeholder="password">
	<button>Login</button>
</form>
</div>