<% include partials/header %>
<div class="container text-center">
<h1>This is the Registration page of YelpCamp</h1>
</div>
<div class="container text-center">
<form action="/register" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="text" name="password" placeholder="password">
	<button>Register</button>
</form>
</div>