<% include ../partials/header %>
<div class="container text-center">
<h1>Add a new camp</h1>
</div>
<div class="container text-center">
<form action="/camps" method="POST">
	<input type="text" name="campName" placeholder="Camp Name">
	<input type="text" name="imageUrl" placeholder="Image URL">
	<button>Submit</button>
</form>
</div>