<% include ../partials/header %>
<h1>Add a new camp</h1>
<form action="/camps" method="POST">
	<input type="text" name="campName" placeholder="Camp Name">
	<input type="text" name="imageUrl" placeholder="Image URL">
	<button>Submit</button>
</form>